<h1 class="text-center">Days Taken</h1>
<div class="container">


  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Days Left</th>
          <th>Requested Days</th>
          <th>Requested Date</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <% @days.each do |f| %>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= f.daysLeft %></td>
          <td><%= f.daysTaken %></td>
          <td><%= f.dateTaken.strftime("%A %B %d, %Y") %></td>
          <td><%= f.note %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
